@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    html {
        font-family: 'Overpass', sans-serif;
    }
    body {
        background: #daecfc;
    }
  }
@layer utilities {
    .grid-benefits {
        grid-template-columns: repeat(2,minmax(300px,400px))
    }
    .joinnow {
        box-shadow: 0 2px 43px rgb(8 150 230 / 60%);
    }
    .bene-subtitle {
        color: #acd5f2;
    }
    .bene-title {
        color: #f0f3f6;
    }
    .banner-shadow {
        background: linear-gradient(180deg,rgba(6,13,34 ,0) 0,rgba(6,13,34,.6));
    }
    .footer-bg {
        background: #0f1420;
    }
}